{% load fir_plugins %}
{% load authorization %}
{% if artifact_values|length > 0 %}
	<tr>
		<td class='head'>{{ artifact_name }}</td>
		<td>
			{% for a in artifact_values %}
				<a
					{% if a.correlation_count > 1 %} class='multiple' {% endif %}
          href="{% url 'artifacts:correlations' a.id %}" data-id="{{ a.id }}"
				>
				{{ a.value }}
				</a>
				{% if a.correlation_count > 1 %} ({{ a.correlation_count }}) {% endif %}
                {%  has_perm 'findings.handle_findings' obj=observation as can_handle_finding %}
                {% if can_handle_finding %}
				<form class='icon' action="{% url 'artifacts:detach' a.id observation|relation_name observation.id %}" method='POST'>
					{% csrf_token %}
					<button type="submit" class='btn btn-xs btn-link icon'>
						<i class='glyphicon glyphicon-remove'></i>
					</button>
				</form>
                {% endif %}
			{% endfor %}
		</td>
	</tr>
{% endif %}
